html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
}

h1 {
  font-size: 2em;
  letter-spacing: -1px;
  position: absolute;
  margin: 0;
  top: -4px;
  left: 5px;
  color: white;
}

#stig {
  position: absolute;
  margin: 0;
  top: 65px;
  left: 5px;
  color: white;
}

#lif{
    position: absolute;
    margin: 0;
    top: 35px;
    left: 5px;
    color: white;
}
#titill{
    position: absolute;
    margin: 0;
    top: 0px;
    left: 5px;
    color: white;
}
#controls{
    position: absolute;
    margin: 0;
    top: 20px;
    right: 5px;
    color: white;
}
#controls2{
    position: absolute;
    margin: 0;
    top: 40px;
    right: 5px;
    color: white;
}

#controls3{
    position: absolute;
    margin: 0;
    top: 60px;
    right: 5px;
    color: white;
}
h3{
    position: absolute;
    margin: 0;
    top: 0px;
    right: 70px;
    color: white;
}
